SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
CIF_TIMELOCK=

CIF_VOTER_A=
CIF_VOTER_B=
CIF_VOTER_C=
CIF_GOVERNANCE_RESERVE=

CIF_TREASURY_FUNDER_PRIVATE_KEY=
CIF_VOTER_A_PRIVATE_KEY=
CIF_VOTER_B_PRIVATE_KEY=
CIF_VOTER_C_PRIVATE_KEY=
CIF_PROJECT_RECIPIENT=